<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" tsiResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" tsiResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Customers" tsiResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
      <siteMapNode SystemName="Customers list" tsiResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Customer roles" tsiResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" tsiResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" tsiResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" tsiResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" tsiResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
        <siteMapNode SystemName="General settings" tsiResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
        <siteMapNode SystemName="User settings" tsiResource="Admin.Configuration.Settings.UserSettings" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
        <siteMapNode SystemName="All settings" tsiResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
      </siteMapNode>
      <siteMapNode SystemName="Languages" tsiResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Currencies" tsiResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Access control list" tsiResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
    </siteMapNode>
  </siteMapNode>
</siteMap>